body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

h1 {
    padding: 0px;
    margin: 0px;
}

.headline {
    margin: 0px 0px 10px 0px;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.main-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-grid {
    border: 6px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    height: 512px;
    width: 512px;
}

.square {
    border: 1px solid black;
    display: flex;
    flex: 0 0 auto;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    overflow: auto;
}

.selector-section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 700px;
    gap: 20px;
    padding: 10px;
    border-radius: 12px;
    background-color: aqua;
}

.start-restart, .color-choose {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: lightblue;
    padding: 30px;
    height: 100px;
    width: 200px;
    border-radius: 12px;
    gap: 5px;
}


.section-2 {
    background-color: aqua;
    margin: 0px;

}

button {
    background-color: aquamarine;
    border: 1px solid navy;
    color: navy;
    font-weight: 700;
    display: inline-block;
    font-size: 16px;
    padding: 5px;
    border-radius: 12px;
    cursor: pointer;
}